body{
    background: url("./image.png");
    background-size: cover;
    box-sizing: border-box;
}
.sidebar-menu{
    width: 20vw;
    font-size: 1.2rem;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: rgb(185 175 175 / 10%);
    backdrop-filter: blur(3px);
    color: white;
    border: 1px solid white;
    box-sizing: border-box;
    display: none;
}

a {
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
li:hover{
    border: 1px solid white;
}
#menu-toggle:checked ~ .sidebar-menu {
   display: flex;
}
